<espl-jumbotron>
    <div>
    <espl-label>Testing Pageheader Component</espl-label>
    <espl-pageheader></espl-pageheader>
    </div>
    <hr>
<div>
<espl-label>Badge Component</espl-label><br />
<a href="#">Inbox</a><espl-badges>4</espl-badges> </div>
<hr>
<div>
    <espl-label>Button Component</espl-label><br />
    <espl-button className="btn-success">Save</espl-button>
</div>
<hr>
<div>
    <label>Label Component</label><br />
    <espl-label className="label-info">City :</espl-label> Pune
</div>
<hr>
<div>
    <espl-label>Alert Component</espl-label><br />
    <espl-alert NgClass="alert-success">Success
</espl-alert>
</div>
<hr>
<div>
    <espl-label>Form-group Component</espl-label><br />
   <espl-form-group testid="username">
        <espl-label qaid="qa-uname-label">Username :</espl-label> User
        <espl-input
          qaid="qa-uname-input"
          inputType='text'
          placeholder='Username'></espl-input>
       
      </espl-form-group>
</div>
<hr>
<div>
    <espl-label>Input Component</espl-label>
    <espl-input></espl-input>
</div>
<hr>

<div>
    <espl-label>Logo Component</espl-label>
    <espl-logo></espl-logo>
</div>

<hr>
<div>
    <espl-label>Modal Component</espl-label>
    <espl-modal></espl-modal>
</div>
<hr>





<div>
    <espl-label>Container Component</espl-label>
    <espl-container></espl-container>
</div>

<hr>
<div>
    <espl-label>Panel Component</espl-label>
    <espl-panel>Panel Content Here..
    </espl-panel>
</div>
<hr>
<div>
    <espl-well>Well component</espl-well>
</div>



<hr>
<div>
    <espl-label>Testing Dropdown Component</espl-label>
    <espl-dropdown></espl-dropdown>
    
    </div>

 <hr>   
<div>
    <espl-label>Testing Modal Component</espl-label><br>
    
    <espl-modal></espl-modal>
    </div>

    <hr>


<espl-jumbotron>