<div class="main-container container">
  <div class="row inner-container">
    <div class="col-md-12">
      <form class="form-horizontal" role="form" novalidate (ngSubmit)="onSubmit(designationForm)" [formGroup]="designationForm">
        <div class="form-group">
          <label class="col-md-2 control-label">Designation name</label>
          <div class="col-md-4">
            <input type="text" formControlName="designationName" name="designationName" class="form-control">
            <!--<input type="text" *ngIf="selectedDesignation && selectedDesignation!=null" value ="{{selectedDesignation.designationName}}" formControlName="designationName" name="designationName" class="form-control">-->
            <div class="alert alert-danger" name="designationError" *ngIf="designationForm.get('designationName').hasError('required') && designationForm.get('designationName').touched">
              Please enter Designation Name
            </div>
          </div>
          <label class="col-md-2 control-label">Designation Code</label>
          <div class="col-md-4">
           <input type="text" formControlName="designationCode" name="designationCode" class="form-control">
            <!--<input type="text" *ngIf="selectedDesignation && selectedDesignation!=null" value ="{{selectedDesignation.designationCode}}" formControlName="designationCode" name="designationCode" class="form-control">-->
            <div class="alert alert-danger" *ngIf="designationForm.get('designationCode').hasError('required') && designationForm.get('designationCode').touched">
              Please enter Designation Code
            </div>
          </div>
          <input type="hidden" formControlName="designationID" name="designationID" class="form-control">
        </div>
        <div class="form-group">
          <div class="col-md-offset-6 col-md-12">
            <button class="btn" name="submitBtn" type="submit" [disabled]="designationForm.invalid">Save</button>
          </div>
        </div>
      </form>
      <p-dataTable [value]="designationList" [responsive]="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <p-column field="designationName" header="Designation Name" [sortable]="true"></p-column>
        <p-column field="designationCode" header="Designation Code" [sortable]="true"></p-column>
        <p-column field="designationID" [hidden]="true" ></p-column>
        <p-column header="Actions" >
          <ng-template let-designation="rowData" pTemplate="body" >
            <button class="btn btn-primary" name="edit" (click)="onEdit(designation)"><i class="fa fa-pencil-square-o"></i></button>
            <button class="btn btn-danger" name="delete" (click)="onDelete(designation)"><i class="fa fa-trash"></i></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>