<div class="main-container container">

    <div class="officerListMainBox">
        <ul class="nav nav-tabs officer-tabs">
            <li class="active">
                <a>Officer Detail</a>
            </li>
            <li>
                <a [routerLink]="['/employee/activityFeed']">Activity Feed</a>
            </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content profile-tab-content">


            <!---------------------- Officer Details tab content -------------------------->
            <div id="officer-details-tab" class="active tab-pane fade in">

                <hr class="separatorLine" />
                <!--  Search Box -->
                <div class="row stickyRow">
                    <div class="col-xs-8 col-md-10 noMobileRightPadding">


                        <input (keyup)="onKey($event)" type="text" class="form-control searchBox" placeholder="Search Officers" />
                        <i class="material-icons searchIcon">search</i>
                    </div>

                    <div class="col-xs-4 col-md-2">
                        <!--  Desktop Filter Box - Hidden in mobile -->
                        <div class="filterBox desktopFilterBox">
                            <div class="dropdown filterDropdown">
                                <button class="btn btn-primary dropdown-toggle filterToggle" type="button" data-toggle="dropdown">Filter
										  <i class="material-icons">keyboard_arrow_down</i></button>
                                <ul class="dropdown-menu filterDropdownMenu">
                                    <li><a href="#">Filter 1</a></li>
                                    <li><a href="#">Filter 2</a></li>
                                    <li><a href="#">Filter 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Search Box Ends -->

                <hr class="separatorLine" />

                <div class="filterBox">
                    <h5>Officers List</h5>
                </div>

                <!-- Main List Box -->
                <div class="mainListBox" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="getOfficer()">
                    <div class="row" *ngFor="let ob of asyncOfficer.employeeList|async"></div>
                    <div *ngIf="officers.length==0">No Record Found</div>
                    <div *ngFor="let item of officers">
                        <div class="listSubBox">
                            <div class="row">
                                <div class="col-xs-2 col-md-1 noRightPadding badgeImgBox">
                                    <img src="/assets/styles/images/BadgeNew.png" class="badgeImg" />
                                </div>
                                <div class="col-xs-10 col-md-11 noLeftPadding">
                                    <div class="listcontentBox">
                                        <span class="officerId">{{item.employeeCode}} | {{item.mstDepartment?item.mstDepartment.departmentName:''}} </span>

                                        <h5 class="officerName">{{item.firstName+''+item.lastName}}</h5>

                                        <h5 class="officerPostContact">
                                            <span class="post">{{item.mstDesignation?item.mstDesignation.designationName:''}}</span>
                                            <span class="contact"><i class="material-icons">phone</i> {{item.mobile}}</span>
                                        </h5>

                                        <div class="row caseRow" *ngIf="item.mstOccurrenceBooks.length>0">
                                            <div class="col-xs-12">
                                                <span class="assignedLabel">
															Case Assigned
															<label class="priorityIconOfficer red"></label>
														</span>
                                            </div>
                                            <div *ngFor="let ob of item.mstOccurrenceBooks">
                                                <div class="col-xs-7">
                                                    <span class="caseDescr">{{ob.obNumber}} : {{ob.natureOfOccurrence}} </span>
                                                </div>
                                                <div class="col-xs-5 statusOpen" [ngClass]="applyStatus(ob.mstStatus.statusName)">
                                                    <span class="caseStatus open" >{{ob.mstStatus.statusName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="dashedSeparator" />
                    </div>

                </div>
                <!-- Main List Box Ends -->


            </div>
            <!---------------------- Officer Details tab content Ends -------------------------->
        </div>

        <!-- Tab content Ends -->

    </div>

</div>
<!-- Main Container End here -->

<!-- Add new officer -->
<div class="bottomContainer" *ngIf="false">
    <button>Add New Officer</button>
</div>