  <form  (ngSubmit)="handleSubmit()" [formGroup]="authForm">
           
			<div class="loginMain">
				
				<div class="loginTopPanel">
					<img src="assets/styles/images/logo.png" class="loginTopImg"/>
				</div>
				
				<div class="loginPanel">
					<label class="loginLabel">Username</label>
					<img src="assets/styles/images/user.png" class="loginTextImg"/>
					<input formControlName="username" type="text" class="form-control loginText" placeholder="enter username"/>
				</div>
				
				<div class="loginPanel">
					<label class="loginLabel">Password</label>
					<img src="assets/styles/images/password.png" class="loginTextImg"/>
					<input type="password" formControlName="password" class="form-control loginText" placeholder="enter password"/>
				</div>
				<button class="loginBtn" type="submit" [disabled]="authForm.invalid">Sign In</button>
				<h6 class="loginFooter">Copyrights &copy; 2017. All rights reserved.</h6>
			</div>
		</form>