 <espl-form
      [group]="group"
      (onSubmit)="handleSubmit()">
     
      <espl-form-group
        testid="login-username">
        <espl-label qaid="qa-uname-label">Username</espl-label> "admin"
        <espl-input
          qaid="qa-uname-input"
          inputType='text'
          placeholder='Username'
          [control]="username"></espl-input>
       
      </espl-form-group>

      <espl-form-group
        testid="login-password">
        <espl-label qaid="qa-password-label">Password</espl-label> "superuser"
        <espl-input
          qaid="qa-password-input"
          inputType='password'
          placeholder='Password'
          [control]="password"></espl-input>
      </espl-form-group>

      <espl-form-group
        testid="login-submit">
        <espl-button
          qaid="qa-login-button"
          className="md-raised-button"
          type="button"
          (onClick)="handleSubmit()">
          Login
        </espl-button>
        <espl-button
          qaid="qa-clear-button"
          className="md-raised-button"
          type="reset"
          (onClick)="reset()">
          Clear
        </espl-button>
      </espl-form-group>
    </espl-form>