<!-------------------- Main Container ------------------------>
<div class="main-container container">
    <div class="pageName">
        <h1>Job ID: Rc-0008956</h1>
    </div>

        <div class="row">
            <div class="col-xs-12">
                <!--<button class="greyBtn"><i class="fa fa-map-marker" aria-hidden="true"></i>Location</button>-->
                <input placeholder="search for location *" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                    #search [formControl]="searchControl">
            </div>
        </div>
        <p *ngIf="locationError" class="alert alert-danger">Please enter location</p>
        <div class="row">
            <div class="col-xs-12">
                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [usePanning]="true" [scaleControl]="true"
                >
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [visible]="true" [markerDraggable]="true" (dragEnd)="markerDragEnd($event.coords.lat,$event.coords.lng)"></agm-marker>
                </agm-map>
            </div>
        </div>
        {{latitude}}
    <form class="cards" novalidate (ngSubmit)="onSubmit(jobForm)" [formGroup]="jobForm">
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="exampleSelect1">Area<span class="required" style="color:red"> * </span></label>
                <select formControlName="areaID" name="areaName" class="form-control" id="exampleSelect1" [class.invalid]="!jobForm.controls.areaID.valid"> 
                    <option value="" disabled selected>Select Area</option>
                    <option *ngFor="let option of asyncArea | async" [value]="option.areaID">{{option.areaName}}</option>
                </select>
            </div>
        </div>
        <p *ngIf="areaError" class="alert alert-danger">Please select area</p>
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="Category">Department<span class="required" style="color:red"> * </span></label>
                <select formControlName="departmentID" class="form-control" id="Category" [class.invalid]="!jobForm.controls.departmentID.valid">  
                    <option value="" disabled selected>Select Department</option>
                    <option *ngFor="let option of asyncdepartment | async" [value]="option.departmentID">{{option.departmentName}}</option>
                </select>
            </div>
        </div>
        <p *ngIf="depError" class="alert alert-danger">Please select department</p>
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="exampleSelect1">Category<span class="required" style="color:red"> * </span></label>
                <select formControlName="obTypeID" name="occurenceType" class="form-control" id="exampleSelect1" [class.invalid]="!jobForm.controls.obTypeID.valid"> 
                    <option value="" disabled selected>Select Category</option>
                    <option *ngFor="let option of asyncOT | async" [value]="option.obTypeID">{{option.obTypeName}}</option>
                </select>
            </div>
        </div>
        <p *ngIf="catError" class="alert alert-danger">Please select Category</p>
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="reportTitle">Report Title<span class="required" style="color:red"> * </span></label>
                <input formControlName="natureOfOccurrence" name="natureOfOccurrence" type='text' class="form-control" placeholder="Enter title"
                [class.invalid]="!jobForm.controls.natureOfOccurrence.valid"/>
            </div>
        </div>
        <p *ngIf="reportError" class="alert alert-danger">Please enter report title</p>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="exampleInputEmail1">Time of Crime<span class="required" style="color:red"> * </span></label>
                <div class='input-group date'>
                    <p-calendar formControlName="obTime" name="obTime" [timeOnly]="true"></p-calendar>
                    <span class="input-group-addon">
                     <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label for="accused">No Of Accused</label>
                <div class="input-group spinner">
                    <input type="text" class="form-control" value="00" min="0" max="500">
                    <div class="input-group-btn-vertical">
                        <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                        <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="hostages">No Of Hostages</label>
                <div class="input-group spinner">
                    <input type="text" class="form-control" value="00" min="0" max="500">
                    <div class="input-group-btn-vertical">
                        <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                        <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label for="casualties">No Of Casualties</label>
                <div class="input-group spinner">
                    <input type="text" class="form-control" value="00" min="0" max="500">
                    <div class="input-group-btn-vertical">
                        <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                        <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <p *ngIf="timeError" class="alert alert-danger">Please enter crime time</p>
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="exampleSelect1">Weapons (if any)</label>
                <select class="form-control" id="exampleSelect1">
                           <option value="" disabled selected>Select Weapon</option>
                            <optgroup label="Chevrolet">
                                <option>Chevrolet Bel Air</option>
                                <option>Chevrolet Biscayne</option>
                                <option>Chevrolet Caprice </option>
                                <option>Chevrolet Celebrity</option>
                                <option>Chevrolet Tahoe </option>
                            </optgroup>
                            <optgroup label="Nissan">
                                <option>Nissan Altima Hybrid</option>
                            </optgroup>
                            <optgroup label="Toyota">
                                <option>Toyota Camry</option>
                                <option>Toyota Prius</option>
                                <option>Toyota Tacoma </option>
                            </optgroup>
                            <optgroup label="Ford">
                                <option>Mercury Zephyr</option>
                                <option>Ford Excursion</option>
                                <option>Ford Taurus</option>
                            </optgroup>
                        </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="exampleSelect1">Vehicles (if any)</label>
                <select class="form-control" id="exampleSelect1">
                           <option value="" disabled selected>Select Vehicle</option>
                            <optgroup label="Pistols">
                                <option>AutoMag IV</option>
                                <option>Hardballer</option>
                                <option>Arsenal</option>
                                <option>Astra A-60</option>
                                <option>Beholla</option>
                            </optgroup>
                            <optgroup label="Submachine Guns">
                                <option>American-180</option>
                                <option>Agram 2000</option>
                                <option>Arsenal Shipka</option>
                                <option>Benelli CB M2</option>
                                <option>Beretta M12</option>
                                <option>Bizon SMG</option>
                            </optgroup>
                        </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="exampleTextarea">Description<span class="required" style="color:red"> * </span></label>
                <textarea formControlName="remark" name="remark" class="form-control description" id="exampleTextarea" rows="5" [class.invalid]="!jobForm.controls.remark.valid"></textarea>
           <p *ngIf="remarkError" class="alert alert-danger">Please enter remark</p>
            </div>
        </div>
        
    </form>
</div>
<!-- Main Container End here -->
<!-- Add new officer -->
<div class="bottomContainer">
    <button type="submit" (click)="onSubmit(jobForm)">Submit Complaint</button>
</div>
<!-- Add new officer Ends -->