

@media (min-width:768px){
.sebm-google-map-container {
		height: 540px !important;
}
}

.sebm-google-map-container {
		height: 350px;
}
#statInrBox{
	padding-left: 0px !important;
}
#stateNameInrBox{
	    font-size: small !important;
}