<!-------------------- Main Container ------------------------>
<div class="main-container container">
    <div class="pageName">
        <h1>Dashboard</h1>
    </div>

    <!-------------------- Stat Cards ------------------------>
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" id="statBar">
                <!--Job Stat Card-->
                <div class="item active">
                   <div class="col-xs-12 col-md-6 statCard">
                        <h4>Occurrences Statistics</h4>
                        <div class="jobStats">
                            <div class="row">
                                <div class="col-xs-6 statInnerBox">
                                    <span>Total Occurrences</span>
                                    <h3>{{caseReport.occurrencesStatistics ? caseReport.occurrencesStatistics.total : ''}}</h3>
                                </div>
                                <div class="col-xs-6 statInnerBox">
                                    <span *ngFor="let stat of caseReport.occurrencesStatistics?caseReport.occurrencesStatistics.priorityWiseStats:''"><strong>{{stat.count}}</strong>&nbsp;{{stat.priority}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 statInnerBox" id="statInrBox" *ngFor="let stat of caseReport.occurrencesStatistics?caseReport.occurrencesStatistics.statusWiseStats:''">
                                    <span id="stateNameInrBox">{{stat.statusName}}</span>
                                    <h3>{{stat.count}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End here-->

                <!--Officer Stat Card-->
                <div class="item">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 statCard">
                        <h4>Officer Statistics</h4>
                        <div class="jobStats" style="background-color:black;color:white;">
                            <div class="row">
                                <div class="col-xs-6 statInnerBox">
                                    <span>All Officers</span>
                                    <h3>{{caseReport.officersStatistics ? caseReport.officersStatistics.total : ''}}</h3>
                                </div>
                                <div class="col-xs-6 statInnerBox">
                                    <span *ngFor="let stat of caseReport.officersStatistics?caseReport.officersStatistics.priorityWiseStats:''"><strong>{{stat.count}}</strong>&nbsp;{{stat.priority}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 statInnerBox" *ngFor="let stat of caseReport.officersStatistics?caseReport.officersStatistics.statusWiseStats:''">
                                    <span>{{stat.statusName}}</span>
                                    <h3>{{stat.count}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End here-->

                
                <!--End here-->

            </div>
            <!-- Wrapper End here -->
        </div>
        <!-- Carousel End here -->
    </div>
    <!--Stat cards ends here-->


   

    <div class="row cards col-md-12 noMobilePadding noDesktopRightPadding">
        <div class="col-xs-12 noDesktopPadding">
            <h4>Active Jobs</h4>
            <div class="activeJobs ">
                <h4>TODAY</h4>
                <!--Job Row 1-->

                <div *ngIf="obs.length==0">No Record Found</div>
                <div class="row" *ngFor="let ob of obs">
                    <h5 class="col-xs-12"><span class="priorityIcon" [ngClass]="applyPriority(ob.priority)"></span> {{ob.obNumber}} | {{ob.mstDepartment.departmentName}}
                    </h5>
                    <div class="jobDetail">
                        <div class="col-xs-7">
                            <h4>{{ob.natureOfOccurrence}}</h4>
                            <p>{{ob.mstArea.areaName}}</p>
                        </div>
                        <div class="col-xs-5 statusOpen" [ngClass]="applyStatus(ob.mstStatus.statusName)"><span>{{ob.mstStatus.statusName}}</span></div>
                    </div>
                    <div class="jobOfcDetail">
                        <div class="col-xs-7"><img class="img-responsive imgBadge" src="/assets/styles/images/badge.png" alt="badge"> {{ob.mstEmployee?ob.mstEmployee.firstName + " " + ob.mstEmployee.lastName : "Not Assigned"}}
                        </div>
                        <div class="col-xs-5">
                            <!--  <span>{{ob.assignedTime | amDateFormat:'MM/DD/YYYY'}}</span>-->

                            {{ ob.obTime |  timeAgo  }}
                        </div>
                    </div>
                </div>
            </div>
            <!--Active Jobs end here-->
        </div>
    </div>
    <!--active jobs ends here-->
    <!-------------------- Available Officer ------------------------>
    <div class="row">
        <div class="col-xs-12">
            <h4>Top Rated Available Officers</h4>

            <!--Officer Row 1-->
            <div class="listSubBox availableOfficer" *ngFor="let officer of asyncOfficer|async">
                <div class="row">
                    <div class="col-xs-2 noRightPadding badgeImgBox">
                        <img src="/assets/styles/images/BadgeNew.png" class="badgeImg" />
                    </div>
                    <div class="col-xs-10 noLeftPadding">
                        <div class="listcontentBox">

                            <span class="officerId">{{officer.employeeCode}} | {{officer.mstDepartment.departmentName}}</span>

                            <h5 class="officerName">{{officer.firstName}} {{officer.lastName}}</h5>

                            <h5 class="officerPostContact">
                                <span class="post">{{officer.mstDesignation.designationName}}</span>
                                <span class="contact"><i class="material-icons">phone</i> {{officer.mobile}}</span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Available Office ends here-->
    </div>
</div>


<!-- Main Container End here -->