<!-------------------- Main Container ------------------------>
<div class="main-container container">
    <div class="pageName">
        <h1>Dashboard</h1>
    </div>

    <!-------------------- Stat Cards ------------------------>
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" id="statBar">
                <!--Job Stat Card-->
                <div class="item active">
                   <div class="col-xs-12 col-md-3 statCard">
                        <h4>Jobs Statistics</h4>
                        <div class="jobStats">
                            <div class="row">
                                <div class="col-xs-6 statInnerBox">
                                    <span>Total Jobs</span>
                                    <h3>{{caseReport.occurrencesStatistics ? caseReport.occurrencesStatistics.total : ''}}</h3>
                                </div>
                                <div class="col-xs-6 statInnerBox">
                                    <span *ngFor="let stat of caseReport.occurrencesStatistics?caseReport.occurrencesStatistics.priorityWiseStats:''"><strong>{{stat.count}}</strong>&nbsp;{{stat.priority}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 statInnerBox" id="statInrBox" *ngFor="let stat of caseReport.occurrencesStatistics?caseReport.occurrencesStatistics.statusWiseStats:''">
                                    <span id="stateNameInrBox">{{stat.statusName}}</span>
                                    <h3>{{stat.count}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End here-->

                <!--Officer Stat Card-->
                <div class="item">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 statCard">
                        <h4>Officer Statistics</h4>
                        <div class="jobStats" style="background-color:black;color:white;">
                            <div class="row">
                                <div class="col-xs-6 statInnerBox">
                                    <span>All Officers</span>
                                    <h3>{{caseReport.officersStatistics ? caseReport.officersStatistics.total : ''}}</h3>
                                </div>
                                <div class="col-xs-6 statInnerBox">
                                    <span *ngFor="let stat of caseReport.officersStatistics?caseReport.officersStatistics.priorityWiseStats:''"><strong>{{stat.count}}</strong>&nbsp;{{stat.priority}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 statInnerBox" *ngFor="let stat of caseReport.officersStatistics?caseReport.officersStatistics.statusWiseStats:''">
                                    <span>{{stat.statusName}}</span>
                                    <h3>{{stat.count}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End here-->

                <!--Inventory Stat Card-->
                <div class="item">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 statCard">
                        <h4>Inventory Statistics</h4>
                        <div class="jobStats">
                            <div class="row">
                                <div class="col-xs-6 statInnerBox">
                                    <span>Total Jobs</span>
                                    <h3>3,460</h3>
                                </div>
                                <div class="col-xs-6 statInnerBox">
                                    <span><strong>576</strong>&nbsp;Critical</span>
                                    <span><strong>989</strong>&nbsp;Major</span>
                                    <span><strong>1895</strong>&nbsp;Minor</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 statInnerBox">
                                    <span>Active Jobs</span>
                                    <h3>123</h3>
                                </div>
                                <div class="col-xs-6 statInnerBox">
                                    <span>In Courts</span>
                                    <h3>123</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End here-->

                <!--Criminals Stat Card-->
                <div class="item">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 statCard">
                        <h4>Criminals Statistics</h4>
                        <div class="jobStats offcStats">
                            <div class="row">
                                <div class="col-xs-6 statInnerBox">
                                    <span>All Officers</span>
                                    <h3>339</h3>
                                </div>
                                <div class="col-xs-6 statInnerBox">
                                    <span>On Scene</span>
                                    <h3>123</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 statInnerBox">
                                    <span>On Critical</span>
                                    <h3>123</h3>
                                </div>
                                <div class="col-xs-6 statInnerBox">
                                    <span>On Major</span>
                                    <h3>123</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End here-->

            </div>
            <!-- Wrapper End here -->
        </div>
        <!-- Carousel End here -->
    </div>
    <!--Stat cards ends here-->


    <!-------------------- Jobs in Progress ------------------------>
    <div class="row cards col-md-7 noMobilePadding noDesktopLeftPadding">
                <div class="col-xs-12 mapCard noDesktopPadding">
            <h4>Jobs in Progress</h4>
            <!--Map Card-->
            <div class="mapJobs">
            <!--<div class="mapJobs">
                <div class="jobMarkers">
                    <span class="criticalJob marker"></span>
                    <span class="criticalJob marker"></span>
                    <span class="criticalJob marker"></span>
                    <span class="majorJob marker"></span>
                    <span class="majorJob marker"></span>
                    <span class="majorJob marker"></span>
                    <span class="minorJob marker"></span>
                    <span class="minorJob marker"></span>
                    <span class="minorJob marker"></span>
                    <span class="majorJob marker"></span>
                </div>
                <div class="row jobContentCard">
                    <div class="col-xs-8">
                        <h3>Armed Robbery In Progress</h3>
                        <span>Nanyuki-Rumuruti Rd, Nanyuki, Kenya</span>
                        <div><img class="img-responsive imgBadge" src="/assets/styles/images/badge.png" alt="badge">Robert Downey
                            Jr
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h3>03:12</h3>
                        <span>Duty Hours</span>
                    </div>
                </div>
                <div class="closeBtn jobContentCard"><i class="material-icons">&#xE5CD;</i></div>
            </div>-->
            <!--<agm-map [latitude]="locations.lattitude" [longitude]="locations.longitude" [zoom]="locations.mapZoomLevel">-->
            <agm-map [latitude]="18.550335" [longitude]="73.809956" [zoom]="11">
                <agm-marker *ngFor="let location of asyncOb|async" [latitude]="location.lattitude" [longitude]="location.longitude" [iconUrl]="applyIcon(location.priority)">
                    <agm-info-window [disableAutoPan]="true" >
                        <div class="row jobContentCard" style="display:block;">
                                    <div class="col-xs-8">
                                        <h3>{{location.natureOfOccurrence}}</h3>
                                        <span>{{location.location}}</span>
                                        <div><img class="img-responsive imgBadge" src="/assets/styles/images/badge.png" alt="badge">Robert
                                            {{location.mstEmployee?location.mstEmployee.firstName + " " + location.mstEmployee.lastName : "Not Assigned"}}
                                        </div>
                                    </div>
                                    <!--<div class="col-xs-4">
                                        <h3>03:12</h3>
                                        <span>Duty Hours</span>
                                    </div>-->
                                </div>
                        
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>
    </div>
    <!--jobs in progress ends here-->

    <div class="row cards col-md-5 noMobilePadding noDesktopRightPadding">
        <div class="col-xs-12 noDesktopPadding">
            <h4>Active Jobs</h4>
            <div class="activeJobs ">
                <h4>TODAY</h4>
                <!--Job Row 1-->

                <div *ngIf="(asyncOb | async)?.length==0">No Record Found</div>
                <div class="row" *ngFor="let ob of asyncOb|async">
                    <h5 class="col-xs-12"><span class="priorityIcon" [ngClass]="applyPriority(ob.priority)"></span> {{ob.obNumber}} | {{ob.mstDepartment.departmentName}}
                    </h5>
                    <div class="jobDetail">
                        <div class="col-xs-7">
                            <h4>{{ob.natureOfOccurrence}}</h4>
                            <p>{{ob.mstArea.areaName}}</p>
                        </div>
                        <div class="col-xs-5 statusOpen" [ngClass]="applyStatus(ob.mstStatus.statusName)"><span>{{ob.mstStatus.statusName}}</span></div>
                    </div>
                    <div class="jobOfcDetail">
                        <div class="col-xs-7"><img class="img-responsive imgBadge" src="/assets/styles/images/badge.png" alt="badge"> {{ob.mstEmployee?ob.mstEmployee.firstName + " " + ob.mstEmployee.lastName : "Not Assigned"}}
                        </div>
                        <div class="col-xs-5">
                            <!--  <span>{{ob.assignedTime | amDateFormat:'MM/DD/YYYY'}}</span>-->

                            {{ ob.obTime |  timeAgo  }}
                        </div>
                    </div>
                </div>
            </div>
            <!--Active Jobs end here-->
        </div>
    </div>
    <!--active jobs ends here-->
    <!-------------------- Available Officer ------------------------>
    <div class="row">
        <div class="col-xs-12">
            <h4>Top Rated Available Officers</h4>

            <!--Officer Row 1-->
            <div class="listSubBox availableOfficer" *ngFor="let officer of asyncOfficer|async">
                <div class="row">
                    <div class="col-xs-2 noRightPadding badgeImgBox">
                        <img src="/assets/styles/images/BadgeNew.png" class="badgeImg" />
                    </div>
                    <div class="col-xs-10 noLeftPadding">
                        <div class="listcontentBox">

                            <span class="officerId">{{officer.employeeCode}} | {{officer.mstDepartment.departmentName}}</span>

                            <h5 class="officerName">{{officer.firstName}} {{officer.lastName}}</h5>

                            <h5 class="officerPostContact">
                                <span class="post">{{officer.mstDesignation.designationName}}</span>
                                <span class="contact"><i class="material-icons">phone</i> {{officer.mobile}}</span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Available Office ends here-->
    </div>
</div>


<!-- Main Container End here -->