
 <!-------------------- Main Container ------------------------>
        <div class="main-container container">
			<div class="pageName">
				<div class="row">
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-arrow-left" [routerLink]="['/ob/occurenceDetails']" aria-hidden="true"></span>
					<!--<button class="viewActivityBtn" [routerLink]="['/jobs/jobDetails']">Back</button>-->
				</div>		
				<div class="col-xs-9">
					<h4 class="heading">OB ID: {{obs.obNumber}}</h4>
					<h6 class="heading">{{obs.natureOfOccurrence}}</h6>
				</div>
				</div>
    		</div>
        
			<div class="jobDetailMain">
				<!-- Status Dropdown -->
				<div class="row">
					<div class="col-xs-8 col-md-3">
						<select [ifAuthorizeDisable]="['OB.U']" class="form-control detailDropdown" [(ngModel)]="selectedStatus" (change)="onStatusChange()">

							<option *ngFor="let option of asyncStatus | async" [value]="option.statusID">{{option.statusName}}</option>
							<!--<option [value]="">Solved</option>-->
						</select>
				
			</div>
			<div class="col-xs-4 col-md-2 viewActivityBtnBox">
				<button class="viewActivityBtn" (click)="onViewActivity()">View Activity</button>
			</div>
		</div>
		<div class="whitePanel">
			<h6 class="crimeUnitSpan">{{obs.obNumber}} | {{obs.mstDepartment?obs.mstDepartment.departmentName:''}}</h6>
			<h4 class="crimeUnitName">{{obs.mstDepartment?obs.mstDepartment.departmentDespcription:''}}</h4>
		</div>

		<div class="whitePanel">
			<div class="row">
				<div class="col-xs-10">
					<h4 class="crimeUnitAddress">{{obs.location}}</h4>
				</div>
				<div class="col-xs-2">
					<i class="material-icons rightIcon">location_on</i>
				</div>
			</div>
		</div>
		<div class="whitePanel">
			<div class="row">
				<div class="col-xs-12">
					<agm-map [latitude]="obs.lattitude" [longitude]="obs.longitude" [zoom]="11">
						<agm-marker [latitude]="obs.lattitude" [longitude]="obs.longitude" [iconUrl]="applyIcon(obs.priority)">
							<agm-info-window [disableAutoPan]="true" >
                        <div class="row jobContentCard" style="display:block;">
                                    <div class="col-xs-8">
                                        <h3>{{obs.natureOfOccurrence}}</h3>
                                        <span>{{obs.location}}</span>
                                        <div><img class="img-responsive imgBadge" src="/assets/styles/images/badge.png" alt="badge">
                                            {{obs.mstEmployee?obs.mstEmployee.firstName + " " + obs.mstEmployee.lastName : "Not Assigned"}}
                                        </div>
                                    </div>
                                    <!--<div class="col-xs-4">
                                        <h3>03:12</h3>
                                        <span>Duty Hours</span>
                                    </div>-->
                                </div>
                        
                    </agm-info-window>
						</agm-marker>
					</agm-map>
				</div>
			</div>
		</div>
		<div class="whitePanel">
			<div class="row">
				<div class="col-xs-10">
					<h6 class="crimeUnitTimeSpan">Time of Crime</h6>
					<h4 class="crimeUnitTimeBlock">{{obs.obTime | date: 'HH:mm'}} | {{obs.obTime | date: 'dd MMM yyyy'}}</h4>
				</div>
				<div class="col-xs-2">
					<i class="material-icons rightIcon">query_builder</i>
				</div>
			</div>
		</div>

		<div class="whitePanel noBottomPadding">
			<div class="row">
				<div class="col-xs-12 marginBottomDetail">
					<h6 class="crimeUnitTimeSpan">Accused</h6>
					<h4 class="crimeUnitTimeBlock">15</h4>
				</div>

				<div class="col-xs-12 ">
					<h6 class="crimeUnitTimeSpan">Weapons</h6>
					<ul class="crimeUnitList">
						<li>Beretta</li>
						<li>Bolt-Action Rifle</li>
						<li>Pistol</li>
						<li>AK-47</li>
					</ul>
				</div>

				<div class="col-xs-12">
					<h6 class="crimeUnitTimeSpan">Vehicles</h6>
					<ul class="crimeUnitList">
						<li>Jeep</li>
						<li>Sedan</li>
						<li>Hummer</li>
						<li>Toyota</li>
						<li>Woksvagan</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="whitePanel">
			<div class="row">
				<div class="col-xs-6">
					<h6 class="crimeUnitTimeSpan">Hostages</h6>
					<h4 class="crimeUnitTimeBlock">15</h4>
				</div>
				<div class="col-xs-6">
					<h6 class="crimeUnitTimeSpan">Casualties</h6>
					<h4 class="crimeUnitTimeBlock">06</h4>
				</div>
			</div>
		</div>

		<div class="whitePanel">
			<div class="row">
				<div class="col-xs-12">
					<h6 class="crimeUnitTimeSpan">Description</h6>
					<h4 class="crimeUnitDescr">
						{{obs.remark}}
					</h4>
				</div>
			</div>
		</div>

				
					
				
					
					
				<div class="commentPanel">		
					<div class="row"> 
						<div class="col-xs-12">
							<h6 class="crimeUnitTimeSpan">Comment <i class="material-icons commentIcon">comment</i></h6>
							<h4 class="crimeUnitDescr">								
								<textarea [ifAuthorizeDisable]="['OB.U']" class="form-control description" [(ngModel)]="comment" id="exampleTextarea" rows="3" ></textarea>
							</h4>	
						</div>			
					</div>
					<!--<p *ngIf="!editJobForm.controls.comment.valid" class="alert alert-danger">Please enter comment</p>							-->
				</div>	
			</div>
			<!--<p *ngIf="!editJobForm.controls.comment.valid" class="alert alert-danger">Please enter comment</p>							-->
		</div>


<!-- Main Container End here -->
<!-- Add new officer -->
<div class="bottomContainer" [ifAuthorize]="['OB.U']">
	<button class="bottomEditBtn" (click)="onSubmit()">Save</button>
	<button class="bottomAssignBtn" (click)="OnAssignOfficer()">Assign Unit</button>
</div>