  <!-------------------- Main Container ------------------------>
        <div class="main-container container">
            <div class="pageName">
				<div class="row">
				<div class="col-xs-3">
                    <button class="viewActivityBtn" (click)="onBack()">Back</button>
				</div>		
				<div class="col-xs-9">
                    <h4 style="text-align: left;">Assign Officer</h4>
                    <h5 style="text-align: left;">OB ID: {{obs.obNumber}}</h5>
				</div>
				</div>
    		</div>
            <!--<div class="row cards">
                <div class="col-xs-6">
                    <button class="greyBtn"><i class="fa fa-home" aria-hidden="true"></i>Select Dept.</button>
                </div>
                <div class="col-xs-6">
                    <button class="greyBtn"><i class="fa fa-map-marker" aria-hidden="true"></i>Location</button>
                </div>
            </div>-->
            
            <form class="cards" novalidate (ngSubmit)="onSubmit(assignOfficerForm)" [formGroup]="assignOfficerForm">
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for="exampleSelect1">Department<span class="required" style="color:red"> * </span></label>
                        <select formControlName="departmentID" class="form-control" id="exampleSelect1" [(ngModel)]="selectedDept" [class.invalid]="!assignOfficerForm.controls.departmentID.valid"  (change)="selectDept(assignOfficerForm)"> 
                            <option value="" disabled selected>Select Department</option>
                            <option *ngFor="let option of asyncdepartment | async" [value]="option.departmentID">{{option.departmentName}}</option>
                        </select>
                    </div>
                </div>
                <p *ngIf="depError" class="alert alert-danger">Please select department</p>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for="area">Area<span class="required" style="color:red"> * </span></label>
                        <select formControlName="areaID" class="form-control" id="area" [class.invalid]="!assignOfficerForm.controls.areaID.valid" [(ngModel)]="selectedArea" (change)="selectDept(assignOfficerForm)"> 
                            <option value="" disabled selected>select Area</option>
                            <option *ngFor="let option of asyncArea | async" [value]="option.areaID">{{option.areaName}}</option>
                        </select>
                    </div>
                </div>
                <p *ngIf="areaError" class="alert alert-danger">Please select area</p>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for="exampleSelect1">Select Rank<span class="required" style="color:red"> * </span></label>
                        <select formControlName="rankID" class="form-control" id="exampleSelect1" [class.invalid]="!assignOfficerForm.controls.rankID.valid" [(ngModel)]="selectedRank" (change)="selectDept(assignOfficerForm)">
                            <option value="" disabled selected>Select Rank</option>
                            <option *ngFor="let option of asyncRank | async" [value]="option.designationID">{{option.designationName}}</option>
                        </select>
                    </div>
                </div>
                    <p *ngIf="rankError" class="alert alert-danger">Please select Rank</p>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for="exampleSelect1">Select Officer<span class="required" style="color:red"> * </span></label>
                        <select formControlName="officerID" class="form-control" id="exampleSelect1" [class.invalid]="!assignOfficerForm.controls.officerID.valid"> 
                            <option value="" disabled selected>Select Officer</option>
                            <option *ngFor="let option of asyncOfficer | async" [value]="option.employeeID">{{option.firstName +" "+ option.lastName}}</option>
                        </select>
                    </div>
                </div>
                    <p *ngIf="offError" class="alert alert-danger">Please select officer</p>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for="exampleSelect1">Vehicles Allotment<span class="required" style="color:red"> * </span></label>
                        <select formControlName="VehicleID" class="form-control" id="exampleSelect1" [class.invalid]="!assignOfficerForm.controls.VehicleID.valid">
                           <option value="" disabled selected>Select Vehicle</option>
                            <optgroup label="Pistols">
                                <option>AutoMag IV</option>
                                <option>Hardballer</option>
                                <option>Arsenal</option>
                                <option>Astra A-60</option>
                                <option>Beholla</option>
                            </optgroup>
                            <optgroup label="Submachine Guns">
                                <option>American-180</option>
                                <option>Agram 2000</option>
                                <option>Arsenal Shipka</option>
                                <option>Benelli CB M2</option>
                                <option>Beretta M12</option>
                                <option>Bizon SMG</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <p *ngIf="vehAllotmentError" class="alert alert-danger">Please select vehicle allotment</p>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="exampleInputEmail1">Vehicle Start Time</label>
                        <div class='input-group date' id='VehicleStartTime'>
                            <!--<input type='time' formControlName="startTime" class="form-control" value="00" [class.invalid]="!assignOfficerForm.controls.startTime.valid"/>-->
                            <label>12:00:AM</label>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                            <!--<p-calendar [(ngModel)]="vehStartTime" [timeOnly]="true"></p-calendar>-->
                        </div>
                        <!--<p *ngIf="startTimeError" class="alert alert-danger">Please select vehicle start time</p>-->
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="accused">Possession Time Period</label>
                        <div class="input-group spinner">
                            <!--<input type="text" formControlName="endTime" class="form-control" value="00" min="0" max="500" [class.invalid]="!assignOfficerForm.controls.endTime.valid">-->
                            <label>5</label>
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                                <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!--<p *ngIf="posError" class="alert alert-danger">Please select possession time</p>-->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for="exampleSelect1">Weapon Allotment<span class="required" style="color:red"> * </span></label>
                        <select class="form-control" formControlName="WeaponAllotment" id="exampleSelect1" [class.invalid]="!assignOfficerForm.controls.WeaponAllotment.valid">
                           <option value="" disabled selected>Select Weapon</option>
                            <optgroup label="Chevrolet">
                                <option>Chevrolet Bel Air</option>
                                <option>Chevrolet Biscayne</option>
                                <option>Chevrolet Caprice </option>
                                <option>Chevrolet Celebrity</option>
                                <option>Chevrolet Tahoe </option>
                            </optgroup>
                            <optgroup label="Nissan">
                                <option>Nissan Altima Hybrid</option>
                            </optgroup>
                            <optgroup label="Toyota">
                                <option>Toyota Camry</option>
                                <option>Toyota Prius</option>
                                <option>Toyota Tacoma </option>
                            </optgroup>
                            <optgroup label="Ford">
                                <option>Mercury Zephyr</option>
                                <option>Ford Excursion</option>
                                <option>Ford Taurus</option>
                            </optgroup>
                        </select>
                    </div>
                    
                </div>
                <p *ngIf="weaponError" class="alert alert-danger">Please select weapon allotment</p>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="exampleInputEmail1">Collection Time</label>
                        <div class='input-group date' id='datetimepicker3'>
                            <!--<input type='time' formControlName="collectionTime" class="form-control" value="00" [class.invalid]="!assignOfficerForm.controls.collectionTime.valid"/>-->
                            <label>12:00:AM</label>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                        <!--<p *ngIf="collectionError" class="alert alert-danger">Please select collection time</p>-->
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="accused">Possession Time Period</label>
                        <div class="input-group spinner">
                            <label>10</label>
                            <!--<input type="text" formControlName="PossessionTime" class="form-control" value="00" min="0" max="500" [class.invalid]="!assignOfficerForm.controls.PossessionTime.valid">-->
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                                <button class="btn btn-default greyBtn" type="button"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!--<p *ngIf="posTimeError" class="alert alert-danger">Please select possession time</p>-->
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for="exampleTextarea">Remarks | Comments<span class="required" style="color:red"> * </span></label>
                        <textarea formControlName="remark" class="form-control description" id="exampleTextarea" rows="5" [class.invalid]="!assignOfficerForm.controls.remark.valid"></textarea>
                        <p *ngIf="RemarkError" class="alert alert-danger" style="margin-bottom: 30px;">Please enter remark</p>
                    </div>
                    
                </div>
            </form>
        </div><!-- Main Container End here -->
        <!-- Add new officer -->
		<div class="bottomContainer">
			<button type="submit" (click)="onSubmit(assignOfficerForm)">Assign Officer</button>
		</div>
		<!-- Add new officer Ends -->
